<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="content">
    <button class="btn btn-primary btn-block movie-button"
        style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px; margin-left: 0%; opacity: 100;"
        disabled="true"><a href="{{ url_for('logout') }}" style="color: white;">Log Out</a></button>
    <center>
        <h1 style="font-size: 50px;">Profile Page</h1>
    </center>

    <div class="ml-container">
        <div class="form-group shadow-textarea" style="margin-top: 30px;text-align: center;color: white;">
            <form action="{{ url_for('personlisedRanking')}}" method="post">
                <input method="POST" type="text" name="searchName" class="movie form-control" id="autoComplete"
                    autocomplete="off" placeholder="Enter the Movie Name"
                    style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818"
                    required="required" />
                <br>
                <input type="submit"
                    style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px; color: white; margin-top: 2%;" />
            </form>
        </div>
        <!-- <div class="form-group" style="text-align: center;">
            <button class="btn btn-primary btn-block movie-button"
                style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px;"
                disabled="true"><a href="{{ url_for('personlisedRanking')}}">Enter</a></button><br><br>
        </div> -->
    </div>

<h6 id="posterRecommendation" style="color:white;">POSTER RECOMMENDATIONS<span id="dots">:</span> <button class="card-btn btn btn-danger"
            onclick="myFunction()" id="myBtn">Read Less</button></h6>
    <div class="scrolling-wrapper">
     <div class="recommend">
      
      <div class="card" style="width: 15rem;margin-right: 3%;">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" id="100" src="{{ url_for('static', filename='posters/100.jpg') }}">
          <figcaption class="fig">
            <!-- <button class="card-btn btn btn-danger"> <a href="{{ url_for('logout') }}" >Click Me</a> </button> -->
            <input type="submit" name="100">Click Me
          </figcaption>
        </div>
      </div>

      <div class="card" style="width: 15rem;margin-right: 3%;" onclick="">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" id="9286" src="{{ url_for('static', filename='posters/9286.jpg') }}" >
          <figcaption class="fig">
            <button class="card-btn btn btn-danger"> Click Me </button>
          </figcaption>
        </div>
      </div>


    <!--   <div class="card" style="width: 15rem;margin-right: 3%;"  onclick="">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" id="15849" src="{{ url_for('static', filename='posters/15849.jpg') }}" >
          <figcaption class="fig">
            <button class="card-btn btn btn-danger"> Click Me </button>
          </figcaption>
        </div>
      </div>

      <div class="card" style="width: 15rem;margin-right: 3%;" onclick="">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" id="25842" src="{{ url_for('static', filename='posters/25842.jpg') }}" >
          <figcaption class="fig">
            <button class="card-btn btn btn-danger"> Click Me </button>
          </figcaption>
        </div>
      </div>

      <div class="card" style="width: 15rem;margin-right: 3%;"  onclick="">
        <div class="imghvr">
          <img class="card-img-top" height="360" width="240" id="862" src="{{ url_for('static', filename='posters/862.jpg') }}" >
          <figcaption class="fig">
            <button class="card-btn btn btn-danger"> Click Me </button>
          </figcaption>
        </div>
      </div> -->
     
    </div>
  </div>
 <script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }</script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='autocomplete.js')}}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>